<link rel="preconnect" href="https://fonts.googleapis.com">
<link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
<link href="https://fonts.googleapis.com/css2?family=Google+Sans:ital,opsz,wght@0,17..18,400..700;1,17..18,400..700&family=Roboto+Condensed:ital,wght@0,100..900;1,100..900&display=swap" rel="stylesheet">
:root{
--main-bg-color:brown;
font-family: "Google Sans", sans-serif;

}
.max-width-1{
    max-width:80vw;
}
.max-width-2{
    max-width:60vw;
}
.m-auto{
    margin:auto;
}
.btn{

}